:root{
    --first-blue:rgb(39, 50, 116);
    --second-blue:rgb(9, 72, 109);
    --light-color:rgb(219, 227, 243);
}
*{
    font-family: arial;
    color: var(--second-blue);
    background-color: var(--light-color);
}

a{  
    font-size: x-large;
    margin-right: 20px;
    border-bottom: solid var(--first-blue);
}
li{
    display: inline;
    list-style: none;
    text-decoration: none;
}
section{
    display: flex;
}
nav ul{
  margin: 30px 0;
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
}
h1 {
    font-weight: bold;
    font-size: 3em;
    height: 500px;
    margin:auto;
    width: 50%;
}
h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 20px;
    border-right: 3px solid var(--first-blue);
    height: 200px;
    display: flex;
   justify-content: flex-end;
   font-size: 2em; 
   width: 24%;
}
h3 {
    height: 50px;
}
.bottom{
    padding: 19px;
    position: relative;
}
.context{
    position: absolute;
    right: 24%;
    width: 50%;
}